main p {
  font-weight: bolder;
}

ol~p {
  color: teal;
}

ol>li {
  color: rgb(255, 80, 170);
  line-height: 1.4em;
  font-weight: bold;
}

footer, h1 {
  color:darkslategrey;
}

a[href] {
  color: seagreen;
  font-weight: 900;
}

li.programmer {
  color:darkorchid;
  font-variant: small-caps;
}